@media (prefers-color-scheme: dark) {
	:root {
		--text: #ebebeb;
		--theme: #0f172a;
		--active: #7674af;
		--passive: #1e293b;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--text: #656565;
		--theme: #f5f5f5;
		--active: #b3b3b3;
		--passive: #ededed;
	}
}