@media (prefers-color-scheme: dark) {
	:root {
		--text: #ebebeb;
		--theme: #0f172a;
		--active: #7181a1;
		--passive: #1e293b;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--text: #656565;
		--theme: #f1f1f1;
		--active: #c1c1c1;
		--passive: #ffffff;
	}
}