html {
	/* Make the HTML element fill the screen */
	height: 100%;
	width: 100%;
}

body {
	/* Sizing properties */
	margin: auto !important;
}

div, body, html {
	/* Make the element a flex column by default */
	display: flex;
	flex-direction: column;

	/* Make center as the default alignment */
	justify-content: center;
	align-content: center;

	/* Make all items' widths stretched by default */
	align-items: stretch;

	/* Disable padding and margin (causes sizing bugs) */
	padding: 0;
	margin: 0;
}

.input, input, select, textarea {
	/* Allow inputs to be narrower then the placeholder */
	min-width: 0;
}

.stretch>*, .stretched {
	/* Fill as much space as possible */
	/* Note that if a specific child has the flex property set elsewhere, this would not make them the same width as the other children. */
	flex: 1;
}

.stubborn {
	/* Make the element stubborn about it's minimal width */
	min-width: max-content;
}

.row {
	/* Make the element a flex row */
	flex-direction: row;
}

.column {
	/* Make the element a flex column */
	flex-direction: column;
}