html {
	/* Sizing properties */
	height: 100%;
	width: 100%;

}

body {
	/* Sizing properties */
	margin: auto !important;
}

div, body, html {
	/* Display properties */
	display: flex;
	flex-direction: column;

	/* Alignment properties */
	justify-content: center;
	align-content: center;
	align-items: stretch;

	/* Sizing properties */
	padding: 0;
	margin: 0;
}

.input, input, select, textarea {
	/* Sizing properties */
	min-width: 0;
}

.stretch>*, .stretched {
	/* Sizing properties */
	flex: 1;
}

.stubborn {
	/* Make the element stubborn about it's minimal width */
	min-width: max-content;
}

.row {
	/* Layout properties */
	flex-direction: row;
}

.column {
	/* Layout properties */
	flex-direction: column;
}