html:has(.overlay) {
	/* Disable scrolling when an overlay is displayed */
	overflow: hidden;
}

.overlay, .overlay * {
	/* Make overlays flex */
	display: flex;

	/* Don't allow users to select anything */
	user-select: none;
}

.overlay {
	/* Position out of regular layout */
	position: fixed;

	/* Align to all sides */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	/* Maximize width and height to cover whole screen */
	width: 100%;
	height: 100%;

	/* Center by default */
	align-items: center;
	justify-content: center;

	/* Make the background a transparent-ish black */
	background-color: #00000060;
}

.overlay, .modal {
	/* Make the element a column */
	flex-direction: column;
}

.buttons {
	/* Make the element a flex row */
	display: flex;
	flex-direction: row;

	/* Make all children capture the same width to fill the space */
	* {
		flex: 1;
	}
}

.modal {
	/* Limit the width of the modal */
	min-width: 40vw;
	max-width: 70vw;
}

.spinner {
	/* Add some margins to the spinner */
	margin: 2vh;

	/* Align the spinner vertically */
	align-self: center;

	/* Explicitly set the spinner's dimensions */
	width: 4vh;
	height: 4vh;

	/* Style the spinner - this is the actual graphics */
	border-width: 0.75vh;
	border-radius: 50%;
	border-style: solid;
	border-color: transparent;

	/* Color the spinner */
	border-top-color: var(--text);

	/* Animate the spinner */
	animation: spinning 1.5s linear 0s infinite normal both;
}

@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}