.screen {
	/* Positioning properties */
	position: fixed;

	/* Allignment properties */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	/* Sizing properties */
	width: 100%;
	height: 100%;

	/* Display properties */
	display: flex;
	flex-direction: row;

	/* Theming properties */
	background-color: #00000030;
}

.spinner {
	/* Alignment properties */
	align-self: center;

	/* Sizing properties */
	margin: 1vh;
	width: 5vh;
	height: 5vh;

	/* Border properties */
	border-width: 1vh;
	border-radius: 50%;
	border-style: solid;
	border-color: transparent;

	/* Theming properties */
	border-top-color: var(--text);
}

.dialog-container {
	/* Sizing properties */
	padding: 1vh;
}

.drawer-container {
	/* Alignment properties */
	align-self: flex-end;

	/* Sizing properties */
	padding: 1vh;
	width: 100vw;
	max-height: 30vh;

	/* Theming properties */
	background-color: var(--passive);
}

.loading-container {
	/* Display properties */
	display: flex;
	flex-direction: column;
}

.loading-container>* {
	/* Sizing properties */
	margin: 2vh;
}

.loading-container>p {
	/* Sizing properties */
	width: 100%;
}

.drawer-container>.loading-container {
	/* Display properties */
	flex-direction: row;
}

.buttons-container {
	/* Display properties */
	display: grid;
	grid-template-columns: 50% 50%;
}

.limited-container {
	/* Sizing properties */
	min-width: 40vw;
	max-width: 70vw;
}