html {
	/* Overflow properties */
	overflow-x: hidden;
	overflow-y: scroll;

	/* Theming properties */
	background-color: var(--theme);
}

.text, .button, .input, p, button, input, select, textarea, div, body, html {
	/* Sizing properties */
	box-sizing: border-box;
	min-height: fit-content;

	/* Font properties */
	white-space: pre-wrap;
	line-height: 100%;
	font-family: monospace;
	text-decoration: none;
	overflow-wrap: anywhere;

	/* Transition properties */
	transition-duration: 0.5s;

	/* Other properties */
	outline: none;
}

.text, .button, .input, p, button, input, select, textarea {
	/* Display properties */
	display: flex;
	flex-direction: column;

	/* Alignment properties */
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: stretch;

	/* Theming properties */
	color: var(--text);
	background-color: transparent;
}

.button, .pointer, button, select {
	/* User interaction properties */
	cursor: pointer;
	user-select: none;
}

.text, p {
	/* Sizing properties */
	margin: 0.5vh;
	padding: 0.5vh;
}

.button, button {
	/* Sizing properties */
	margin: 1vh;
	padding: 1vh;

	/* Border properties */
	border-style: solid;
	border-width: 1px;
	border-radius: 0.75vh;

	/* Theming properties */
	border-color: var(--text);
	background-color: var(--passive);
}

.button:hover, button:hover {
	/* Theming properties */
	background-color: var(--active);
}

.input, input, select, textarea {
	/* Sizing properties */
	margin: 1vh;
	padding: 0.5vh;

	/* Border properties */
	border-style: solid;
	border-width: 0.35vh 0;
	border-radius: 0.75vh;

	/* Theming properties */
	border-top-color: var(--passive);
	border-bottom-color: var(--active);
	background-color: var(--passive);
}

.coasted {
	/* Sizing properties */
	margin: 1vh;
	padding: 1vh;

	/* Border properties */
	border-radius: 1vh;

	/* Theming properties */
	filter: drop-shadow(0 0 0.5vh var(--active));
	background-color: var(--passive);
}

.tiny {
	/* Font properties */
	font-size: 1vh;
}

.small {
	/* Font properties */
	font-size: 1.5vh;
}

.medium {
	/* Font properties */
	font-size: 2vh;
}

.large {
	/* Font properties */
	font-size: 3vh;
}

.huge {
	/* Font properties */
	font-size: 4.5vh;
}

[hidden], .hidden, *::-webkit-scrollbar {
	/* Layout properties */
	display: none !important;
}