html {
	/* Overflow properties */
	overflow-x: hidden;
	overflow-y: scroll;

	/* Theming properties */
	background-color: var(--theme);
}

.text, .button, .input, p, button, input, select, textarea, div, body, html {
	/* Sizing properties */
	box-sizing: border-box;
	min-height: fit-content;

	/* Font properties */
	white-space: pre-wrap;
	line-height: 100%;
	font-family: monospace;
	text-decoration: none;
	overflow-wrap: anywhere;

	/* Transition properties */
	transition-duration: 0.25s;

	/* Other properties */
	outline: none;
}

.text, .button, .input, p, button, input, select, textarea {
	/* Display properties */
	display: flex;
	flex-direction: column;

	/* Alignment properties */
	justify-content: center;
	align-items: stretch;

	/* Theming properties */
	color: var(--text);
	background-color: transparent;
}

.input, .button, input, button, select, textarea {
	/* Sizing properties */
	margin: 0.3rem;
	padding: 0.5rem;

	/* Border properties */
	border-radius: 0.5rem;
}

.button, .pointer, button, select {
	/* User interaction properties */
	cursor: pointer;
	user-select: none;
}

.text, p {
	/* Sizing properties */
	margin: 0.3rem;
	padding: 0.3rem;
}

.borderless {
	/* Border properties */
	border-color: transparent;
}

.coasted {
	/* Sizing properties */
	margin: 0.3rem;
	padding: 0.5rem;

	/* Border properties */
	border-radius: 0.75rem;

	/* Theming properties */
	background: linear-gradient(135deg, var(--passive), var(--theme));
}

.button:hover, button:hover, select:hover {
	/* Theming properties */
	background-color: var(--active);
}

.coasted, .button, button, select {
	/* Border properties */
	border-width: 1px;
	border-style: solid;

	/* Theming properties */
	border-color: var(--active);
}

.input, input, textarea {
	/* Border properties */
	border-style: solid;
	border-width: 0.25rem 0;

	/* Theming properties */
	border-top-color: var(--passive);
	border-bottom-color: var(--active);
	background-color: var(--passive);
}

.tiny {
	/* Font properties */
	font-size: 0.8rem;
}

.small {
	/* Font properties */
	font-size: 1.1rem;
}

.medium {
	/* Font properties */
	font-size: 1.5rem;
}

.large {
	/* Font properties */
	font-size: 2.5rem;
}

.huge {
	/* Font properties */
	font-size: 3rem;
}

* {
	/* Scrollbar properties */
	scrollbar-width: none;
}