name: Build and push multi-arch images

on:
    push:
        branches: master

jobs:
    Build:
        runs-on: ubuntu-latest
        steps:
            -
                name: Code setup
                uses: actions/checkout@v2

            -
                name: QEMU setup
                uses: docker/setup-qemu-action@v1

            -
                name: Buildx setup
                uses: docker/setup-buildx-action@v1

            -
                name: DockerHub setup
                uses: docker/login-action@v1 

                with:
                    # What is our username?
                    username: ${{ secrets.NAME }}
                    
                    # What is our password?
                    password: ${{ secrets.TOKEN }}

            - 
                name: Tags setup
                run: |
                    echo "DATE=$(date +%Y.%m.%d)" >> $GITHUB_ENV
                    echo "LATEST=latest" >> $GITHUB_ENV

            -
                name: Build and push
                uses: docker/build-push-action@v2

                with:
                    # Do we want to push the images to DockerHub?
                    push: true

                    # What is out build context?
                    file: template/Dockerfile
                    context: template

                    # What are our target platforms?
                    platforms: linux/amd64,linux/arm64/v8,linux/arm/v7,linux/ppc64le

                    # What are our version tags?
                    tags: |
                        nadavtasher/template:${{ env.DATE }}
                        nadavtasher/template:${{ env.LATEST }}